<div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          {{ !_activeId ? "Add" : "Edit" }} ComponentName
        </h2>
      </div>
      <hr>
      <form [formGroup]="_form" (ngSubmit)="_onSubmit()" autocomplete="off">
        <div class="row card-body">
          <div class="col-md-4 p-0">
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label>Business Group</mat-label>
              <mat-select formControlName="bg" required>
                <mat-option (onSelectionChange)="_loadSubEntity(URLz.LE, item.id, $event)"
                  *ngFor="let item of __ddl?.bg" [value]="item.id">
                  {{item.title}}
                </mat-option>
              </mat-select>
              <mat-error>{{_error('bg')?.message}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4 p-0">
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label>Legal Entty</mat-label>
              <mat-select formControlName="le" required>
                <mat-option (onSelectionChange)="_loadSubEntity(URLz.OU, item.id, $event)"
                  *ngFor="let item of __ddl?.le" [value]="item.id">
                  {{item.title}}
                </mat-option>
              </mat-select>
              <mat-error>{{_error('le')?.message}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4 p-0">
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label>Operating Unit</mat-label>
              <mat-select formControlName="ou" required>
                <mat-option *ngFor="let item of __ddl?.ou" [value]="item.id">
                  {{item.title}}
                </mat-option>
              </mat-select>
              <mat-error>{{_error('ou')?.message}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="card-body">
          <div class="action-form">
            <div class="form-group m-b-0 text-right">
              <button type="submit" class="btn btn-info waves-effect waves-light">Save</button>
              <button type="button" (click)="_switch()" class="btn btn-info waves-effect waves-light">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>