<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="background-color: white;">
        <h3 class="card-title mb-0">
          {{ _component }}
          <button type="button" class="btn btn-info float-right" (click)="_switch()">+ Add </button>
        </h3>
      </div>
      <div class="card-body pt-0">
        <div class="mat_table">
          <table mat-table matSort [dataSource]="_dataSource" style="box-shadow: none;" (matSortChange)="_sort($event)">
            <ng-container matColumnDef="id" sticky>
              <th style="width: 40px" mat-header-cell *matHeaderCellDef>S No</th>
              <td mat-cell *matCellDef="let item; let i = index"> {{i + (_tbl.index * _tbl.size) + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition='before'>
                <input [(ngModel)]='_search.title' placeholder="Title" class="search" (keydown)="_stop($event)"
                  (click)="_stop($event)">
              </th>
              <td mat-cell *matCellDef="let item"> {{item.title}} </td>
            </ng-container>
            <ng-container matColumnDef="system">
              <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition='before'>
                <select (click)="_stop($event)" [(ngModel)]='_search.system_id'
                class="search">
                  <option [value]="undefined" disabled>
                    System
                  </option>
                  <option
                    *ngFor="let item of __ddl?.system_id" [value]="item.id">
                    {{item.title}}
                  </option>
                </select>
              </th>
              <td mat-cell *matCellDef="let item">
                <p class="p-1 mr-1 innerItems" *ngFor="let it of item.organisation_system">
                  {{ it.title }}
                </p>
              </td>
            </ng-container>
            <ng-container matColumnDef="activate">
              <th style="width: 100px;" mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition='before'>
                <span>Status</span>
              </th>
              <td mat-cell *matCellDef="let item">
                <ui-switch color="green" size="small" [(ngModel)]="item.activate"
                  (change)="_statusChange($event, item.id)">
                </ui-switch>
              </td>
            </ng-container>
            <ng-container matColumnDef="actions" stickyEnd>
              <th class="pl-3" mat-header-cell *matHeaderCellDef>
                <i class="ti-reload text-info pointer px-2" (click)="_reset(); _refresh()"></i>
                <i class="ti-search text-info pointer px-2" (click)="_refresh()"></i>
              </th>
              <td class="pl-3" mat-cell *matCellDef="let item">
                <i class="ti-pencil text-info px-2 pointer" (click)="_switch(item.id)"></i>
                <i class="ti-trash text-danger px-2 pointer" (click)="_delete(item.id)"></i>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="_columns; sticky"></tr>
            <tr mat-row *matRowDef="let row; columns: _columns;"></tr>
          </table>
        </div>
        <mat-paginator [length]="_tbl.length" [pageIndex]="_tbl.index"
        [pageSize]="_tbl.size" [pageSizeOptions]="_tbl.sizes" (page)="_paginate($event)" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
